---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: jellystack
  namespace: default
spec:
  values:
    services:
      prowlarr:
        enabled: false

      qbittorrent:
        enabled: false

      jellyfin:
        ingress:
          host: jellyfin.cbxon.co.uk
        volumeMounts:
          - name: jellyfin-config
            mountPath: /config
          - name: tv
            mountPath: /tv
          - name: movies
            mountPath: /movies
        volumes:
          - name: jellyfin-config
            type: pvc
            size: 500Mi
          - name: movies
            type: csi
            driver: smb.csi.k8s.io
            source: '//u493236-sub1.your-storagebox.de/u493236-sub1/movies'
            secretName: smbcreds
            mountOptions: "dir_mode=0777,file_mode=0777,cache=strict,actimeo=30,nosharesock"
          - name: tv
            type: csi
            driver: smb.csi.k8s.io
            source: '//u493236-sub1.your-storagebox.de/u493236-sub1/tv'
            secretName: smbcreds
            mountOptions: "dir_mode=0777,file_mode=0777,cache=strict,actimeo=30,nosharesock"

      jellyseerr:
        ingress:
          host: jellyseerr.cbxon.co.uk
          
      radarr:
        ingress:
          host: radarr.cbxon.co.uk
        volumeMounts:
          - name: radarr-config
            mountPath: /config
          - name: movies
            mountPath: /movies
        volumes:
          - name: radarr-config
            type: pvc
            size: 500Mi
          - name: movies
            type: csi
            driver: smb.csi.k8s.io
            source: '//u493236-sub1.your-storagebox.de/u493236-sub1/movies'
            secretName: smbcreds
            mountOptions: "dir_mode=0777,file_mode=0777,cache=strict,actimeo=30,nosharesock"  
          
      sonarr:
        ingress:
          host: sonarr.cbxon.co.uk
        volumeMounts:
          - name: sonarr-config
            mountPath: /config
          - name: tv
            mountPath: /tv
        volumes:
          - name: sonarr-config
            type: pvc
            size: 500Mi
          - name: tv
            type: csi
            driver: smb.csi.k8s.io
            source: '//u493236-sub1.your-storagebox.de/u493236-sub1/tv'
            secretName: smbcreds
            mountOptions: "dir_mode=0777,file_mode=0777,cache=strict,actimeo=30,nosharesock"
