apiVersion: v1
kind: ConfigMap
metadata:
  name: dnsmasq-conf
  namespace: bitmagnet
data:
  dnsmasq.conf: |
    server=/cluster.local/10.43.0.10
    server=/in-addr.arpa/10.43.0.10
    server=/ip6.arpa/10.43.0.10
    server=1.1.1.1
---
apiVersion: v1
kind: Secret
metadata:
  name: wireguard-config
  namespace: bitmagnet
type: Opaque
stringData:
  wg0.conf: |
    [Interface]
    # Key for dev-k3s-prowlarr
    # Bouncing = 28
    # NetShield = 0
    # Moderate NAT = off
    # NAT-PMP (Port Forwarding) = on
    # VPN Accelerator = on
    PrivateKey = 4FObGEOSzUMmK8PgKI2rCazfuKrKpCEVD+T3Zn75C20=
    Address = 10.2.0.2/32
    PostUp   = GW=$(ip route show default | awk '/default/ {print $3}'); IFACE=$(ip route show default | awk '/default/ {print $5}'); ip route del 10.96.0.0/16 dev %i 2>/dev/null || true; ip route add 10.96.0.0/16 via $GW dev $IFACE
    PostDown = GW=$(ip route show default | awk '/default/ {print $3}'); IFACE=$(ip route show default | awk '/default/ {print $5}'); ip route del 10.96.0.0/16 via $GW dev $IFACE 2>/dev/null || true

    [Peer]
    # UK#751
    PublicKey = 5ytZ9XOzfgE+bRrychrd7CkNwDUSPMgTq1eWoKT1yhQ=
    AllowedIPs = 0.0.0.0/0
    Endpoint = 84.20.17.193:51820